@model IEnumerable<Models.Streak>
@{
    ViewBag.Title = "View";
}


<style>
    button[data-toggle="collapse"] {
        text-align: left;
        font-size: 13px;
    }

        button[data-toggle="collapse"] i {
            margin-right: 5px;
        }

        button[data-toggle="collapse"][aria-expanded="true"] i.glyphicon-chevron-right:before {
            content: "\e114";
        }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>View Particpant</h5>
                </div>
                <div class="ibox-content">

                    <div class="col-xs-6 ">

                        <div class="col-md-3 col-sm-6 col-xs-12">

                        </div>

                        @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger pull-right" })*@

                        <div class="table-responsive ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Name :</th>
                                        <td> @ViewBag.Name</td>
                                    </tr>
                                    <tr>
                                        <th style="width:50%">Email :</th>
                                        <td> @ViewBag.Email</td>
                                    </tr>
                                    @foreach (var Item in Model)
                                    {
                                        <tr>
                                            <th style="width:50%">@Item.Description Streak:</th>
                                            <td>@Item.Value</td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <ul class="stat-list">
                            </ul>
                        </div>
                    </div>


                    @*@Html.Action("ListParticipateMeeting")*@
                    <div class="wrapper wrapper-content animated fadeInRight" id="MeetingList">
                        <div class="row">
                            <div class="col-lg-12" data-bind="with: Grid">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>List of Meeting</h5>

                                    </div>
                                    <div class="ibox-content">


                                        <div class="card">
                                            <button class="btn btn-link collapsed card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <i class="glyphicon glyphicon-chevron-right"></i>Search
                                            </button>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    <form data-bind="submit: Search" @*class="ibox-heading"*@>
                                                        <div class="row">
                                                            <div class="form-group col-lg-6">
                                                                <label class="">Subject</label>
                                                                <input type="text" class="form-control text-box single-line" data-bind="value: SC._Subject" />
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label class="">Meeting ID</label>
                                                                <input type="text" class="form-control text-box single-line" data-bind="value: SC._MeetingID" />
                                                            </div>

                                                            
                                                            <div class="form-group col-lg-6">
                                                                <label class="">User Name</label>
                                                                <input type="text" class="form-control text-box single-line" data-bind="value: SC.HasParticipateName" />
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label class="">User Email</label>
                                                                <input type="text" class="form-control text-box single-line" data-bind="value: SC.HasParticipateEmail" />
                                                            </div>

                                                            <div class="form-group col-lg-6">
                                                                <label class="">Metting Date From</label>
                                                                <input type="date" class="form-control text-box single-line" data-bind="value: SC.From" />
                                                            </div>

                                                            <div class="form-group col-lg-6">
                                                                <label class="">Metting Date To</label>
                                                                <input type="date" class="form-control text-box single-line" data-bind="value: SC.To" />
                                                            </div>

                                                            <div class="form-group col-lg-6">
                                                                <label class="">Meeting Status</label>
                                                                <select class="form-control text-box" data-bind="value: SC.IsCancelled, options: $root.MeetingStatus, optionsText: 'optionsText', optionsValue: 'value'"></select>
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label class="">Recurring Meeting</label>
                                                                <select class="form-control text-box" data-bind="value: SC.IsRecurring, options: $root.MeetingRecurring, optionsText: 'optionsText', optionsValue: 'value'"></select>
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label class="">Meeting Type</label>
                                                                <select class="form-control text-box" data-bind="value: SC.IsOneToOne, options: $root.MeetingType, optionsText: 'optionsText', optionsValue: 'value'"></select>
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label class="">WrapUp Status</label>
                                                                <select class="form-control text-box" data-bind="value: SC.IsWrapUpSent, options: $root.WrapUpStatus, optionsText: 'optionsText', optionsValue: 'value'"></select>
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label class="">Report Status</label>
                                                                <select class="form-control text-box" data-bind="value: SC.IsReportSent, options: $root.ReportStatus, optionsText: 'optionsText', optionsValue: 'value'"></select>
                                                            </div>

                                                            <div class="form-group col-lg-6">
                                                                <label class="">Rows Per Page</label>
                                                                <select class="form-control text-box" data-bind="value: SC.RowsPerPage">
                                                                    <option value="10">10</option>
                                                                    <option value="15">15</option>
                                                                    <option value="20">20</option>
                                                                    <option value="25">25</option>
                                                                    <option value="50">50</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row pull-right">
                                                            <button class="btn btn-info" type="submit"><i class="fa fa-search">Search</i></button>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="webGrid_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                            @Html.Partial("_KoGrid")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<template id="MettingGridControls">
    <a class="btn btn-default" data-bind="attr: { href: '@Url.Action("View", "Meeting")/' + Id + '?Participate=' + @ViewBag.ParticpantId }">View</a>
</template>

@section Scripts {
    @*@Scripts.Render("~/plugins/dataTables")*@
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/knockout.viewmodel.2.0.3.js"></script>
    <script src="~/Scripts/sugar.js"></script>
    <script src="~/Scripts/koCustom.js"></script>

    <script type="text/javascript">
        function Controller() {
            var self = this;

            self.MeetingStatus = [{ value: null, optionsText: '-- Select --' }, { value: true, optionsText: 'Cancelled' }, { value: false, optionsText: 'Not Cancelled' }];
            self.MeetingRecurring = [{ value: null, optionsText: '-- Select --' }, { value: true, optionsText: 'Recurring' }, { value: false, optionsText: 'Non Recurring' }];
            self.MeetingType = [{ value: null, optionsText: '-- Select --' }, { value: true, optionsText: '1:1 Meeting' }, { value: false, optionsText: 'Group Meeting' }];

            self.WrapUpStatus = [{ value: null, optionsText: '-- Select --' }, { value: true, optionsText: 'Sent' }, { value: false, optionsText: 'Not Sent' }];
            self.ReportStatus = [{ value: null, optionsText: '-- Select --' }, { value: true, optionsText: 'Sent' }, { value: false, optionsText: 'Not Sent' }];

            self.Grid = new KoGrid("@Url.Action("Search", "Meeting")", @Html.Raw(Json.Encode(new Portal.UISC.MeetingSC() { SortAsc = false, SortColumn = "Id", RowsPerPage = 15 })));
            self.Grid.SC.HasParticipateId = @(ViewBag.ParticpantId);

            self.Grid.GridColumns.Allowed(true);

            self.Grid.GridColumns.push({ Header: "Id", Name: "Id", IsSort: true, Type: "string", ViewOrder: ko.observable(0), });

            self.Grid.GridColumns.push({ Header: "Start Date", Name: "StartDate", IsSort: true, Type: "datetime", ViewOrder: ko.observable(1), });
            self.Grid.GridColumns.push({ Header: "Organizer", Name: "OrganizerName", IsSort: true, Type: "string", ViewOrder: ko.observable(2), });

            self.Grid.GridColumns.push({ Header: "Subject", Name: "Subject", IsSort: true, Type: "string", ViewOrder: ko.observable(3), });


            self.Grid.GridColumns.push({ Header: "Status", Name: "Status", IsSort: true, Type: "string", ViewOrder: ko.observable(4), });

            self.Grid.GridColumns.push({ Header: "Recurring Meeting", Name: "RecurringMeeting", IsSort: true, Type: "string", ViewOrder: ko.observable(-1), });
            self.Grid.GridColumns.push({ Header: "Meeting Type", Name: "MeetingType", IsSort: true, Type: "string", ViewOrder: ko.observable(-1), });
            self.Grid.GridColumns.push({ Header: "WrapUp Status", Name: "WrapupStatus", IsSort: true, Type: "string", ViewOrder: ko.observable(-1), });
            self.Grid.GridColumns.push({ Header: "Report Status", Name: "ReportStatus", IsSort: true, Type: "string", ViewOrder: ko.observable(-1), });

            self.Grid.GridColumns.push({ Header: "End Date", Name: "EndDate", IsSort: true, Type: "datetime", ViewOrder: ko.observable(-1), });

            self.Grid.GridColumns.push({ Header: "Controls", Name: "MettingGridControls", IsSort: false, Type: "template", ViewOrder: ko.observable(99999), });
        }

        $(document).ready(function () {
            var controller = new Controller();
            ko.applyBindings(controller, document.getElementById("MeetingList"));
            controller.Grid.Search();
        });
    </script>
}